.navbar-nav .nav-link.active::after{
    color: white;
    content: " ";
    height: 2px;
    background-color: white;
    position: absolute;
    bottom: 0;
    left: 0;
    animation: underline 0.4s forwards ;
}

body{
    font-family: "Poppins", sans-serif;
    
}

h2{
   font-weight:900 ;
   Color:rgb(52, 52, 52);
   font-size: 40px;
   Line-Height:44px;
   letter-spacing: 1px;


}

.navbar-brand , h1 , h2 , h3 , h4{
    font-family: "Montserrat", serif;
    color: rgb(52, 52, 52);

}

.navbar-brand{
    font-weight: 800;
    line-height: 26px;
    font-size: 18px;
    letter-spacing: 1px;

}

h1{
    font-size: 50px;
    font-weight: 800;
    line-height: 55px;
}



@keyframes underline {
    0%{
        width: 0%;
    }

    10%{
        width: 25%;
    }
    20%{
        width: 20%;
    }
    30%{
        width: 30%;
    }
    40%{
        width: 40%;
    }
    50%{
        width: 50%;
    }
    60%{
        width: 60%;
    }
    70%{
        width: 70%;
    }
    80%{
        width: 80%;
    }
    90%{
        width: 90%;
    }
    100%{
        width: 100%;
    }

    
}

#Home h2{
    font-weight: 200;
    line-height: 72px;
    font-size: 60px;
}
#Home h2 span{
    font-weight: 400;
}

#about h2{
    font-weight: 800;
    font-size: 30px;
    line-height: 33px;
}

.bg-body-tertiary {
    background-color: rgba(26, 38, 50, 0.432) !important;
}

.header{
    background-image: linear-gradient(rgba(0, 0, 0, 0.623) , rgba(0, 0, 0, 0.689)), url("../images/bg.jpg");
    background-position: center center;
    background-attachment: fixed;
    background-size:cover;
    min-height: 100vh;
}

.icon{
    width: 40px;
    height: 40px;
    background-color: black;
    border-radius: 9999px;
}

.inner-loader{
    background-color: black;
    height: 100%;
}
.outer-loader{
    height: 23px;
    background-color:#F7F7F7;
}

.in-1{
    width: 95%;
    animation: loader-1 0.5s backwards;
    
}
.in-2{
    width: 80%;
    animation: loader-2 0.5s backwards;


}
.in-3{
    width: 90%;
    animation: loader-3 0.5s backwards;


}


@keyframes loader-1 {

    0%{
        width: 0%;
    }

    10%{
        width: 25%;
    }
    20%{
        width: 20%;
    }
    30%{
        width: 30%;
    }
    40%{
        width: 40%;
    }
    50%{
        width: 50%;
    }
    60%{
        width: 60%;
    }
    70%{
        width: 70%;
    }
    80%{
        width: 80%;
    }
    90%{
        width: 90%;
    }

    95%{
        width: 95%;
    }


    
}


@keyframes loader-2 {

    0%{
        width: 0%;
    }

    10%{
        width: 25%;
    }
    20%{
        width: 20%;
    }
    30%{
        width: 30%;
    }
    40%{
        width: 40%;
    }
    50%{
        width: 50%;
    }
    60%{
        width: 60%;
    }
    70%{
        width: 70%;
    }
    95%{
        width: 80%;
    }



    
}


@keyframes loader-3 {

    0%{
        width: 0%;
    }

    10%{
        width: 25%;
    }
    20%{
        width: 20%;
    }
    30%{
        width: 30%;
    }
    40%{
        width: 40%;
    }
    50%{
        width: 50%;
    }
    60%{
        width: 60%;
    }
    70%{
        width: 70%;
    }
    80%{
        width: 80%;
    }
    95%{
        width: 90%;
    }



    
}

.about-txt .my-buttons button{
    border: solid black 1px;
}


.btn-1{
    background-color: black;
    color: white;
}

.btn-2:hover{
    background-color: black;
    color: white;
}

.btn-2{
    transition: all 0.5s;
}


.bg-dots{
    background-image: url("../images/dots.png");
    width: 100%;
    height: 85%;
    position: absolute;
    bottom: -8%;
    left: -8%;
    z-index: -1;
}

.doted{
    width: fit-content;
    background-image: url("../images/dots.png");
}



.serv-icon{
    width: 60px;
    height: 60px;
    background-color: #F7F7F7;
    border-radius: 999px;
    margin: auto;
    transition: all 0.5s;
}


#Services , #Team{
    background-color: #F7F7F7;
}

.inner-serv{
    background-color: white;
}


.inner-serv:hover .serv-icon{
    background-color: black;
    color: white;
}


.nav-tabs {
    --bs-nav-tabs-border-width: 0px;
    --bs-nav-tabs-border-color:rgba(0, 0, 0, 0) ;
    --bs-nav-tabs-border-radius: 0px;
    --bs-nav-tabs-link-hover-border-color: rgba(0, 0, 0, 0);
    --bs-nav-tabs-link-active-color: black;
    --bs-nav-tabs-link-active-bg: rgba(0, 0, 0, 0);
    --bs-nav-tabs-link-active-border-color: rgba(0, 0, 0, 0);
    border-bottom:none;
}

#Portfolio .nav-link {
    display: block;
    padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
    font-size: var(--bs-nav-link-font-size);
    font-weight: var(--bs-nav-link-font-weight);
    color:black;
    text-decoration: none;
    background: 0 0;
    border: 0;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
}

.layer{
    position: absolute;
    top: 7px;
    bottom: 7px;
    background-color: rgba(255, 255, 255, 0.921);
    left: 7px;
    right: 7px;
    opacity: 0;
    transition: opacity 1s;
}

.inner-port:hover .layer{
    opacity: 1;
}

.lay-icon{
    width: 30px;
    height: 30px;
    background-color: black;
    color: white;
    border-radius: 99999px;
    transition: all 0.5s;
    border: #1C1C1C solid 1px;
}

#Portfolio .nav-link.active::after{
    content: " ";
    height: 2px;
    background-color: black;
    position: absolute;
    bottom: 0;
    left: 0;
    animation: underline 0.4s forwards ;

}


.carousel-inner img{
    width: 7%;

}


#carouselExampleIndicators{
    background-color: #F7F7F7;
    min-height: 80vh;
}


.carousel-indicators [data-bs-target] {

    background-color: #869791;
    width: 10px;
    height: 10px;
    border-radius: 9999px;
    padding: 0;
    border-bottom: 0px solid transparent;
    border-top: 0px solid transparent;

}

.counter-box {
	display: block;
	padding: 40px 20px 37px;
	text-align: center
}

.counter-box p {
	margin: 5px 0 0;
	padding: 0;
	color: black;
    Font-weight: 400;
    Line-height: 48px;
}

.counter-box i {
	font-size: 26px;
	margin: 0 0 15px;
	color:black;
}

.my-counter{
    min-height: 50vh;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

.counter { 
	display: block;
	font-size: 32px;
	font-weight: 700;
	color:black;
	line-height: 28px
}

.team-txt{
    background-color: #5B5B5B;
}

.team-layer{
    position: absolute;
    top: 7px;
    bottom: 7px;
    left: 7px;
    right: 7px;
    background-color: rgba(255, 255, 255, 0.941);
    transition: all 1s;
    opacity: 0;
    transform: rotateY(180deg);
}

.outer-img img{
    transition: all 1s;
}

.outer-img:hover img{
    transform: scale(120%);
}


.inner-team:hover .team-layer{
    opacity: 1;
    transform: rotateY(0);

}

.team-icon{
    width: 40px;
    height: 40px;
    background-color: black;
    color: white;
    border-radius: 999px;
    transition: all 0.5s;
    border: #1C1C1C solid 1px;
}

.icon-contact{
    width: 60px;
    height: 60px;
    border-radius: 999px;
    background-color: #F7F7F7;
    transition: all 0.5s;

}
.icon-contact i{
    font-size: 25px;
}

.form-control{
    background-color: #F4F4F4;
}


.butt button:hover{
    border: solid black 1px;
}

.form-control:focus {
    background-color:#F4F4F4 ;
    border-color:transparent;
    outline: 0;
    box-shadow: 0 0 0 0 transparent;
}


#exampleFormControlTextarea1{
    height: 150px;
}

footer{
    background-color:#1C1C1C ;
}


.serv-icon i{
    font-size: 25px;
}

.lay-icon:hover{
    background-color: white;
    color: black;
}

.team-icon:hover a i{
    color: black;
}
.team-icon:hover{
    background-color: white;
}


.icon-contact:hover{
    background-color: black;
    color: white;
}



@media  screen and (max-width: 800px) {
    #Home h2{
        font-size: 30px;
    }
    .carousel-inner img{
        width: 20%;
    
    }



  }